
<!DOCTYPE html>
<html>
<head>
    <title>Booking</title>
</head>
<body>
    <h2>Book {{ hotel.name }}</h2>
    <form method="POST">
        Name: <input type="text" name="name"><br><br>
        Check-in: <input type="date" name="check-in"><br><br>
        Check-out: <input type="date" name="check-out"><br><br>
        <input type="submit" value="Book">
    </form>
    <a href="/">Back</a>
</body>
</html>











<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
         <input type="text" name="name" placeholder="name"><br><br>
         check-in<input type="date" name="check-in" placeholder="check-in"><br><br>
         check-out<input type="date" name="check-out" placeholder="check-out"><br><br>
         <button type="submit">submit</button>
    </form>
</body>
</html> -->